# authenticator
    
Figuras = ({
    Xinit = 0;
    Yinit = 0;
    Xincremento = 1;  //desplazamiento x
    Yincremento = 0; //desplazamiento y
    Xdir = 1;    //1: direcion x+, -1 direccion x-
    Ydir = 1;   //1: direcion y+, -1 direccion y-
    XFinal = 80;
    YFinal = 0; 
    RotacionInit = 0; //grado inicial figura
    Animacion = 1; // 0:no anima
    ColorIn = 1;  // color-range:0-10
    ColorOut = 2; // color-range:0-10 
    TiempoInicio = 500; // t: ms
    TiempoIntervalo = 200; //t: ms
    TiempoVida = 35000;  
    TipoScheduler = 1; //1:round-robin,2:sorteo
    Tiquetes = 0;
},{
    Xinit = 40;
    Yinit = 0;
    Xincremento = 1;  //desplazamiento x
    Yincremento = 0; //desplazamiento y
    Xdir = -1;    //1: direcion x+, -1 direccion x-
    Ydir = 1;   //1: direcion y+, -1 direccion y-
    XFinal = 0;
    YFinal = 0; 
    RotacionInit = 0; //grado inicial figura
    Animacion = 1; // 0:no anima
    ColorIn = 5;  // color-range:0-10
    ColorOut = 6; // color-range:0-10 
    TiempoInicio = 1000; // t: ms
    TiempoIntervalo = 1000; //t: ms
    TiempoVida = 45000;  
    TipoScheduler = 1; //1:round-robin,2:sorteo
    Tiquetes = 0;
},
{
    Xinit = 0;
    Yinit = 8;
    Xincremento = 1;  //desplazamiento x
    Yincremento = 0; //desplazamiento y
    Xdir = 1;    //1: direcion x+, -1 direccion x-
    Ydir = 1;   //1: direcion y+, -1 direccion y-
    XFinal = 80;
    YFinal = 8; 
    RotacionInit = 0; //grado inicial figura
    Animacion = 1; // 0:no anima
    ColorIn = 3;  // color-range:0-10
    ColorOut = 4; // color-range:0-10 
    TiempoInicio = 0; // t: ms
    TiempoIntervalo = 700; //t: ms
    TiempoVida = 40000;  
    TipoScheduler = 1; //1:round-robin,2:sorteo
    Tiquetes = 0;
}
);
